<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434871558974-8ui266ssvinn4ihvrk0rbmjfagu2q7l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434871558974-8ui266ssvinn4ihvrk0rbmjfagu2q7l8</string>
	<key>API_KEY</key>
	<string>AIzaSyCq8dWFyltJgL03r5nXARRmI-yGZ_CechI</string>
	<key>GCM_SENDER_ID</key>
	<string>434871558974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betApp</string>
	<key>PROJECT_ID</key>
	<string>betting-app-b4d0a</string>
	<key>STORAGE_BUCKET</key>
	<string>betting-app-b4d0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434871558974:ios:a79f87515668781d82426f</string>
</dict>
</plist>